@model List<Mission08_Team0303.Models.ToDoTask>

<h2>Completed Tasks</h2>

<table style="padding: 5px; border: 1px">
    <thead>
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Category</th>
        <th>Quadrant</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Name</td>
            <td>@(task.DueDate?.ToShortDateString() ?? "No Due Date")</td>
            <td>@task.Category</td>
            <td>Quadrant @task.Quadrant</td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("Index", "Task")">Back to Task List</a>